header {
  background-color: #f4f5f7;
  width: 80%;
  margin: 0 auto;
  min-height: 250px;
  padding-bottom: 20px;
}

.navbar {
  background-color: #525151;
  padding: 15px;
  border-bottom: 3px solid #535151;
  box-shadow: 0 4px 8px rgba(7, 7, 7, 0.3);
  height: 50px;
}

.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 0 15px;
  line-height: 50px;
}

.main-title {
  font-size: 36px;
  font-weight: bold;
  margin: 30px 0;
}

.sub-title {
  font-size: 18px;
  color: #757575;
  padding: 0 20px;
}